# Maven build artifacts
target/
*.releaseBackup
pom.xml.releaseBackup
pom.xml.tagNameAlign
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
bin/

# OS metadata
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store

# Automation Reports & Traces
test-results/
playwright-report/
allure-results/
screenshots/
target/surefire-reports/
